.ContainerHome {
  display: flex;
  flex-flow: row wrap;
  margin-block: 15px;
  border-radius: 15px;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

@media (max-width: 600px) {
  .ContainerHome {
    padding-inline: 10px;
    gap: 12px;
  }
}