.card {
  font-family: "Poppins";
  width: 320px;
  border-radius: 10px;
  background-color: #1a2332;
  /* border: 1px solid rgba(169, 182, 202, 0.996); */
  gap: 10px;
  height: fit-content;
  transition: 0.3s ease;
  border-top: 1px solid rgb(245, 148, 11);
  position: relative;
  flex: 0 0 320px;
  cursor: pointer;
  overflow: hidden;
  box-shadow:
    rgba(51, 156, 160, 0.25) 0px 50px 100px -20px,
    rgba(81, 52, 52, 0.3) 0px 30px 60px -30px,
    rgba(7, 45, 83, 0.35) 0px -2px 6px 0px inset;
}

.card:hover {
  transform: translateY(-6px);
  border-color: rgba(245, 148, 11, 0.71);
  box-shadow: 4px 4px 0px rgba(245, 148, 11, 0.493);
}

.card-head {
  position: relative;
}

.card-title {
  font-family: "Poppins";
  font-size: 22px;
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 10;
}

.gradient {
  background-image: linear-gradient(to bottom, transparent, #1a23326d);
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none; /* deixa cliques passarem direto pro que estiver embaixo/acima */
}

.card-img {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 0 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  object-fit: cover;
}

.card-body {
  display: flex;
  gap: 8px;
  flex-flow: column nowrap;
  padding: 16px;
}

.card-description {
  font-size: 14px;
  font-family: "Poppins";
  margin-bottom: 32px;
  color: rgba(114, 155, 192, 0.996);
  text-align: left;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 80px;
}

.card-info {
  text-align: center;
  display: flex;
  flex-flow: column-reverse nowrap;
  border-radius: 6px;
  padding: 2px;
  border: 1px solid #ffffff2f;
  width: 100%;
  margin: auto;
  background-color: #00000065;
  color: #ffffffa7;
}

.card-info-title {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
}

.card-radio {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10; /* precisa ficar acima do .gradient (5) e do .card-title (10) */
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.card-selected {
  outline: 2px solid #ff9800;
  outline-offset: -2px;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    flex: 1 1 100%;
    max-width: 100%;
  }

  .card-img {
    height: 180px;
  }
}
